ul.calendardayseventslist li { margin-bottom: 1rem; }
p.stocker-month{color: #0c3b78;
    display: block;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: -0.5rem;}
p.stocker-day {
    margin-top: -0.9rem;
    text-align: center;
    color: #0c3b78;
    display: block;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.75rem;
}
.view-all-athletics-button{    text-align: center;
    padding: 1rem 2rem;
    box-shadow: inset 0 0 10px #DCDCDC;}
.checkbox-sub-selection{margin-top: -50px;}
.midpoint-campus-center-news{background:#5B9340;}
.lccc-sports-and-recreation-news{background: #764F51;}
.campus-wide{background-color: #000000;}
.students{background-color: #F78536;}
.faculty-student{background-color: #1D556F;}
.staff-student{background-color: #5C4B77;}
.stocker-arts-center-news{background-color: #CD4439;}
.stocker-arts{background-color: #CD4439;}
.athletics{background-color: #764F51;}
.uncategorized{background-color:#003B76;}
.business{background-color: #999999;}
.lccc-news{background-color: #620808;}
.lccc-student-news{background-color: #F78536;}
div.eventhumbnail{padding-top: 12px;padding-left: 0;padding-right: 0.5rem;}
div.eventhumbnail img{ border:none;}
.columns.stocker_event_footer{text-align: center;color: #fff;padding: 10px 0;}
.columns.event_header{ padding: 10px 0; min-height: 79px;}
.columns .stocker_event_image{padding: 0;}
h2.stocker-event-title{color: #fff;text-align: center;font-size: 0.925rem;word-wrap: break-word;width: 85%;margin: 0 auto;}
.lccc_events_header .event-header-container{text-align: center;}
.columns.lccc_announcement_header-sub-site{text-align: center;background: #0c3b78;color: #fefefe;margin-top: 0;padding: 0;}
h3.stocker-event-date{text-align: center; color: #fff;    font-size: 0.8375rem;}
.columns .lccc_announcement-sub-site .headerlogo-sub-site{padding: 0;}
.columns.stocker-view-all-link{padding-top: 30px; text-align: center; }
.LCCC_Stocker_Event_Widget{padding-top: 20px;}
.columns .sub-announcement a{    line-height: 1.3125;
    font-size: .75rem;
    font-weight: 800;
    color: #0055a5;
    margin-bottom: .25rem;
    text-transform: uppercase;}
.columns .announcement-header-text-container{padding: 0;}
.columns .sub-announcement{ padding-top: 15px; border-bottom: 5px inset #dcdcdc;}
.columns .sub-announcement:last-child{border-bottom: none;}
.columns .announcement-header-text-container h2.headertext{    color: #fff;
    font-size: 1.4rem;
    line-height: 2.105263;
    margin-bottom: 0.5rem;
    margin-top: 9px;
			 margin-left: -2rem;
}
.sub-announcement-container{
	background: #fff;
	box-shadow: inset 0 0 10px #DCDCDC;
	padding: 1rem;
}
.columns .lccc_announcement-sub-site .headerlogo-sub-site
{
	margin: 0
}
.columns .lccc_announcement-sub-site{padding: 0; background: #0c3b78; margin-top: 30px;height: 70px; }
.headerlogo i{color: #ffffff;
    font-size: 3.5rem;}
.metabox-field-title{margin-bottom: 0;}
.lccc_events_header {background-color: #003B76;}
.column, .columns .lccc_announcement_header {padding: 0;}
.widget h2.headertext{color: #fff;font-size: 1.9rem;line-height: 2.105263;margin-bottom: 0.5rem; margin-top: -1px;text-align:left;}
.widget h2.athletics-headertext{color: #fff;font-size: 1.9rem;line-height: 2.105263;margin-bottom: 0.5rem; margin-top: -1px;text-align:center;}
.lccc-font-lccc-reverse:before {
    font-size: 4.0rem;
}
p.month{
	    color: #0c3b78;
    display: block;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 700;
	    font-size: .6rem;
}
.columns.stocker-eventcontainer{padding: 0;}
a h5.stocker-footer-header {color: #fff;}
h5.stocker-footer-header:before{
	content: url(../images/theater-tickets.png);
	margin: 16px 8px 0 0;
    vertical-align: -40%;
	color: #fff;
}
.columns .lccc_events .headerlogo{text-align: right;    box-shadow: none;margin-top: 0;}
.columns .event-header-text-container{padding-left: 0;}
h2.headertext{margin: 20px 0 0 0; color:#fff;}
.lccc-font-lccc-reverse{color: #fff;}
.lccc_events .headerlogo{padding-right: 0;}
.lccc_events_header{max-height: 65px;margin-bottom: 1rem;}
.columns.calendar{	    width: 90px;
    height: 90px;
    background-image: url(../images/calendaricon_blue.svg);
    padding: 2rem 1rem;
    text-align: center;}
.columns.calendar-small{
	    width: 63px;
    height: 63px;
    background-image: url(../images/calendar.png);
    text-align: center;
}
.widget p.month{margin-bottom: 0;margin-top: 12px;margin-left: 4px;width: 100%; font-weight: bold;color: #003B76;line-height: 1.7;font-size: 0.90rem;}
.widget p.day{margin-bottom: 0;    margin-top: -10px;
    margin-left: 9px; font-weight: bold;color: #003B76;}
.widget h3.eventtitle{line-height: 1.3125;    
				font-size: .75rem;
    font-weight: 800;
    color: #0055a5;
    margin-bottom: .25rem;
    text-transform: uppercase;
}
.column .lccc_events, .columns .lccc_events{box-shadow: inset 0 0 10px #DCDCDC;padding: 0;    margin-top: 2.3rem;}
.column .lccc_events article, .columns .lccc_events  article{box-shadow:none;}
a.button, a.button, a.button.expand, a.button.expand{background-color: #003B76;}
.eventcontainer{border-bottom: 5px inset #dcdcdc; margin-bottom: 25px;padding-bottom: 20px;}
.eventcontainer:last-child {border-top: none;}
.widget h2.announcementheader{font-size: 2.2rem;color: #003B76;}
.view-all-link{text-align: center;}

a.add-to-google, a.add-to-google:focus, a.add-to-google:hover{
    background:#068795;
    font-weight: 700;
    vertical-align: baseline;
 }
 
 .add-to-calendar, .add-to-calendar:focus, .add-to-calendar:hover{
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0.85em 1em;
    margin: 0 0 1rem 0;
    font-size: 0.9rem;
    background:#e36000; 
    color: #fff;
    font-weight: 700;
    vertical-align: baseline;
 }
 
 .add-to-calendar:focus, .add-to-calendar:hover{
    text-decoration:underline;
 }
 a.add-to-google:focus, a.add-to-google:hover, .add-to-calendar:focus, .add-to-calendar:hover{
    box-shadow: #515151 0px 0px 10px;
 }

@media only screen and (max-width: 40em) { 
.lccc_events .headerlogo {
    padding-right: 0;
    padding-left: 0;
}
	.widget h2.headertext {
    color: #fff;
    font-size: 1.9rem;
    line-height: 2.105263;
    margin-bottom: 0.5rem;
    margin-top: -3px;
}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.lccc_events{padding: 0;}
	.lccc_events .headerlogo {
    padding-right: 0;
    padding-left: 0;
}
		.widget h2.headertext {
    color: #fff;
    font-size: 1.9rem;
    line-height: 2.105263;
    margin-bottom: 0.5rem;
    margin-top: -3px;
}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media screen and (max-width: 39.9375em) {
.columns.stocker-eventcontainer{margin-bottom: 25px;}
}
.columns.lccc_events.headerlogo{
    box-shadow: none;
    margin-top: .1rem;
    text-align: center;	
}